*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: monospace;
}


input  {
    border: none;
    text-align: center;
    font-size: 30px;
    margin: 15px;
}